.idea/
*.iml
*.iws
*.ipr

target/
**/target/
*.class
*.jar
*.war
*.ear

surefire-reports/
failsafe-reports/
**/surefire-reports/
**/failsafe-reports/

*.log
logs/

.DS_Store
Thumbs.db

package-lock.json
**/package-lock.json
node_modules/
**/node_modules/
dist/
**/dist/
.angular/
**/.angular/
.npm/

.env
.env.local
.env.*.local

docker-compose.override.yml
